html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -239px;
  padding: 70px 0 239px;
}

.form-signin input, select, textarea{
  margin:10px 0;
}

.form-signin textarea{
  resize:none;
}

.form-signin .checkbox{
  margin-left: 20px;
}

a.disable-link:hover{
  background-color:white;
  cursor:text;
}

.alert{
  margin: 0 15px 20px 15px;
}

textarea {
    resize: none;
}