<!DOCTYPE html>
<html>
    <head>
        <title>Twig template</title>
    </head>
    <body>
        <p>Page d'accueil</p>
        {% include 'nav.html.twig' %}
        {% if user %}
            <p>connected as {{ user.prenom }}</p>
        {% else %}
            <p>unconnected</p>
        {% endif %}
        <ul>
        {% for info in informations %}
            <li>{{ info.titre }}</li>
        {% endfor %}
        </ul>
        <ul>
        {% for deadline in deadlines %}
            <li>{{ deadline.titre }}</li>
        {% endfor %}
        </ul>
    </body>
</html>