<!DOCTYPE html>
<html>
    <head>
        <title>Twig template</title>
    </head>
    <body>
        <p>Page d'accueil</p>
        {% include 'nav.html.twig' %}
        {% if user %}
            <p>connected as {{ user.prenom }}</p>
        {% else %}
            <p>unconnected</p>
        {% endif %}
    </body>
</html>