{% extends "base.html.twig" %}

{% block content %}
<div class="row well">
<h4>Un problème avec l'utilisation de ce site ?</h4>
<p>N'hésitez pas à me contacter à l'adresse <a href="mailto:benjamin.denom@ensc.fr">benjamin.denom@ensc.fr</a>.</p>
</div>
{% endblock %}