<!DOCTYPE html>
<html>
    <head>
        <title>Twig template</title>
    </head>
    <body>
        {% include 'nav.html.twig' %}
        <ul>
        {% for i in ideas %}
            <li><b>{{ i.titre }}</b>{{ i.resume }}</li>
        {% endfor %}
        </ul>
    </body>
</html>