<!DOCTYPE html>
<html>
    <head>
        <title>Twig template</title>
    </head>
    <body>
    	{% include 'nav.html.twig' %}
        <form action="./login" method="post">
          <input name="email"/>
          <input name="pwd" />
          <input type="submit" />
        </form>
    </body>
</html>