<!DOCTYPE html>
<html>
    <head>
        <title>Twig template</title>
    </head>
    <body>
      {% include 'nav.html.twig' %}
      <h1>register</h1>
        <form action="./register" method="post">
          <input name="email"/>
          <input name="pwd" />
          <input type="submit" />
        </form>
    </body>
</html>